@import url("../fonts/openSans.css");

/*HEADER*/
header {
  background-color: #ffffff;
}

.header__block {
  display: flex;
  flex-direction: column;
  padding: 61.5px 0;
  font-family: "Open Sans";
}
.header__brand {
  text-transform: uppercase;
  color: #000000;
  font-size: 38px;
  line-height: 72px;
}
.header__link {
  color: #000000;
  font-weight: 300;
  font-size: 30px;
  line-height: 54px;
  border-radius: 20px;
}
.header__link:hover {
  color: #d12222;
  transition-property: color;
  transition-duration: 0.15s;
  text-decoration: none;
}
.header__link_italic {
  font-style: italic;
}

/*infoBlock*/
.infoBlock {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/Rectangle.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.infoBlock__block {
  padding: 46px 0;
  font-family: "Open Sans";
}
.infoBlock__text {
  font-weight: 300;
  font-size: 35px;
  line-height: 72px;
  color: #ffffff;
}
.infoBlock__title {
  text-transform: uppercase;
  font-size: 38px;
  line-height: 72px;
  color: #ffffff;
}

/*CONTACTS*/
.contacts {
  background: #23374f;
}
.block-contacts {
  text-align: center;
}
.link-contacts {
  color: #ffffff;
}
.contacts__block {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans";
  text-align: center;
  padding: 17.5px 0;
}
.text-contacts {
  font-weight: 300;
  font-size: 33px;
  line-height: 72px;
  color: #ffffff;
}
.contacts__title {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 38px;
  line-height: 72px;
}

.contacts__link {
  color: #ffffff;
  font-weight: 300;
  font-size: 33px;
  line-height: 54px;
}
.contacts__link:hover {
  color: #c4bdc0;
  transition-property: color;
  transition-duration: 0.15s;
  text-decoration: none;
}

/*FOOTER*/
footer {
  background: #45b7e3;
  text-align: right;
}
.footer__block {
  padding: 17.5px 0;
  font-family: "Open Sans";
}
.footer__text {
  font-weight: 300;
  font-size: 33px;
  line-height: 72px;
  color: #ffffff;
}
