@font-face {
  font-family: "Open Sans";
  src: url('./OpenSansCondensed-Bold.ttf');
}
@font-face {
  font-family: "Open Sans";
  src: url('./OpenSansCondensed-Light.ttf');
}
@font-face {
  font-family: "Open Sans";
  src: url('./OpenSansCondensed-LightItalic.ttf');
}